{{#> page}}

<form class="create" method="POST" action="/results">
  <input name="slug" placeholder="Slug" />
  <input name="name" placeholder="Name" />
  <input name="rank" placeholder="Rank" />
  <input name="jump order" placeholder="Jump Order" />
  <input name="distance" placeholder="Distance" />
  <input name="record" placeholder="Record" />

  <button type="submit">Create Result</button>
</form>

{{/page}}