{{#>uni}}

<h1>Results</h1>

<u1>
  {{#each results}}
  <table border="1">
    <tr>
      <td>Rank </td>
      <td>Jump</td>
      <td>Order</td>
      <td>Name</td>
      <td>Result</td>
      <td>Record</td>

    </tr>
  </table>
  {{/each}}
</u1>
{{/uni}}